<div class="row g-3">
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
      [(ngModel)]="searchTerm"
    />
    <label for="floatingInput" class="ps-4 ms-3"
      >Search with title or category...</label
    >
  </div>
  <div
    class="col-xs-10 col-sm-6 col-md-4 col-lg-3"
    *ngFor="let product of allProducts | search : searchTerm"
  >
    <div class="p-3 position-relative product-card px-sm-5 px-md-3">
      <div class="position-absolute top-10 left-10 pointer">
        <app-heart-icon
          [page]="'products'"
          [prodId]="product._id"
          [redColor]="wishListProducts.includes(product._id)"
        ></app-heart-icon>
      </div>
      <div [routerLink]="['/productDetails', product._id]" class="pointer">
        <img [src]="product.imageCover" class="w-100 mb-2" height="300" />
        <h4 class="text-main h6">{{ product.category.name }}</h4>
        <h5 class="h5">
          {{
            product.title.length > 10
              ? product.title.slice(0, 10) + "...."
              : product.title
          }}
        </h5>
      </div>
      <div class="d-flex justify-content-between align-items-center my-2">
        <p class="h6">{{ product.price }}EGP</p>
        <p class="h6 text-muted">
          <span>
            <i class="fa fa-star text-rating-color"></i>
          </span>
          <span>{{ product.ratingsAverage }}</span>
        </p>
      </div>
      <app-add-to-cart-btn
        [page]="'home'"
        [productId]="product._id"
      ></app-add-to-cart-btn>
    </div>
  </div>
</div>
