<div class="row g-3">
  <div
    class="col-xs-10 col-sm-6 col-md-3 px-3"
    *ngFor="let product of allProducts"
  >
    <div class="p-3 position-relative product-card">
      <div [routerLink]="['/productDetails', product._id]">
        <div class="position-absolute top-10 left-10">
          <i class="fa-solid fa-heart fs-2 text-main heart-icon"></i>
        </div>
        <img [src]="product.imageCover" class="w-100 mb-2" height="300" />
        <h4 class="text-main h6">{{ product.category.name }}</h4>
        <h5 class="h5">
          {{
            product.title.length > 10
              ? product.title.slice(0, 10) + "...."
              : product.title
          }}
        </h5>
        <div class="d-flex justify-content-between align-items-center my-2">
          <p class="h6">{{ product.price }}EGP</p>
          <p class="h6 text-muted">
            <span>
              <i class="fa fa-star text-rating-color"></i>
            </span>
            <span>{{ product.ratingsAverage }}</span>
          </p>
        </div>
      </div>
      <app-add-to-cart-btn
        [page]="'home'"
        [productId]="product._id"
      ></app-add-to-cart-btn>
    </div>
  </div>
</div>
