<div class="container">
  <form
    class="col-md-8 py-5 mx-auto"
    [formGroup]="checkOutForm"
    (ngSubmit)="paymentFunction(checkOutForm)"
  >
    <h1 class="h3">Shipping Address:</h1>
    <div class="alert alert-danger" *ngIf="paymentError.length > 0">
      {{ paymentErrors | json }}
    </div>

    <div class="form-group mb-3">
      <label for="Email" class="pb-2">Details</label>
      <input
        id="Email"
        type="text"
        class="form-control"
        formControlName="details"
        [ngClass]="{
          'is-valid': !detailsControl?.errors && detailsControl?.touched,
          'is-invalid': detailsControl?.errors && detailsControl?.touched
        }"
      />
      <div
        class="alert alert-danger"
        *ngIf="detailsControl?.errors && detailsControl?.touched"
      >
        <p *ngIf="detailsControl?.getError('required')">Details is Required</p>
        <p *ngIf="detailsControl?.getError('minlength')">
          Details is not valid
        </p>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="Phone" class="pb-2">Phone</label>
      <input
        id="Phone"
        type="tel"
        class="form-control"
        formControlName="phone"
        [ngClass]="{
          'is-valid': !phoneControl?.errors && phoneControl?.touched,
          'is-invalid': phoneControl?.errors && phoneControl?.touched
        }"
      />
      <div
        class="alert alert-danger"
        *ngIf="phoneControl?.errors && phoneControl?.touched"
      >
        <p *ngIf="phoneControl?.getError('required')">Phone is Required</p>
        <p *ngIf="phoneControl?.getError('pattern')">Phone is not valid</p>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="City" class="pb-2">City</label>
      <input
        id="City"
        type="text"
        class="form-control"
        formControlName="city"
        [ngClass]="{
          'is-valid': !cityControl?.errors && cityControl?.touched,
          'is-invalid': cityControl?.errors && cityControl?.touched
        }"
      />
      <div
        class="alert alert-danger"
        *ngIf="cityControl?.errors && cityControl?.touched"
      >
        <p *ngIf="cityControl?.getError('required')">City is Required</p>
        <p *ngIf="cityControl?.getError('minlength')">City is not valid</p>
      </div>
    </div>

    <button
      class="btn bg-main text-white d-block mx-auto w-75"
      [disabled]="checkOutForm.invalid"
    >
      <span class="fw-bold"> Pay</span>
    </button>
  </form>
</div>
