<div class="container">
  <div class="row px-2 align-items-center" *ngIf="productDetails; else loader">
    <div class="col-md-4">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img [src]="productDetails.imageCover" class="w-100" height="420" />
        </ng-template>
        <ng-template carouselSlide *ngFor="let image of productDetails.images">
          <img [src]="image" height="420" class="w-100" />
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="col-md-8">
      <p class="fs-3">{{ productDetails.title }}</p>
      <p class="fs-5 text-muted">{{ productDetails.description }}</p>
      <div class="d-flex align-items-center justify-content-between">
        <p class="fs-6 text-main">{{ productDetails.category.name }}</p>
        <div class="pointer">
          <app-heart-icon [prodId]="productDetails._id"></app-heart-icon>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <p>{{ productDetails.price }}EGP</p>
        <div class="d-flex align-items-baseline justify-content-center">
          <p>{{ productDetails.ratingsAverage }}</p>

          <i class="fa-solid fa-star text-rating-color"></i>
        </div>
      </div>
      <app-add-to-cart-btn
        [productId]="productDetails._id"
      ></app-add-to-cart-btn>
    </div>
  </div>
</div>
<ng-template #loader>
  <div class="d-flex justify-content-center align-items-center h-100 w-100">
    <i class="fa fa-spinner fa-spin text-main fs-1 p-5"></i>
  </div>
</ng-template>
