p {
  background: #000;
}
.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-opacity);
}
.z-index-555 {
  z-index: 555;
}
