<div class="container">
  <h1>Reset your Password</h1>
  <form
    class="col-md-8 py-5 mx-auto"
    [formGroup]="resetPassword"
    (ngSubmit)="resetPasswordOnSubmit(resetPassword)"
  >
    <!-- <h1 class="h3">Login Now:</h1>
    <div class="alert alert-danger" *ngIf="loginError.length > 0">
      {{ loginError }}
    </div> -->

    <div class="form-group mb-3">
      <label for="Email" class="pb-2">Email</label>
      <input
        id="Email"
        type="email"
        class="form-control"
        formControlName="email"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          resetPassword.get('email')?.errors &&
          resetPassword.get('email')?.touched
        "
      >
        <p *ngIf="resetPassword.get('email')?.getError('required')">
          Email is Required
        </p>
        <p *ngIf="resetPassword.get('email')?.getError('email')">
          Email is not valid
        </p>
      </div>
    </div>
    <div class="form-group mb-3 position-relative">
      <label for="newPassword" class="pb-2">newPassword</label>
      <input
        id="newPassword"
        [type]="showPassword ? 'text' : 'password'"
        class="form-control"
        formControlName="newPassword"
      />
      <i
        class="fa-solid fa-eye position-absolute eye-icon"
        *ngIf="!showPassword"
        (click)="displayEyeIcon()"
      ></i>
      <i
        class="fa-solid fa-eye-slash position-absolute eye-icon"
        *ngIf="showPassword"
        (click)="displayEyeIcon()"
      ></i>

      <div
        class="alert alert-danger"
        *ngIf="
          resetPassword.get('newPassword')?.errors &&
          resetPassword.get('newPassword')?.touched
        "
      >
        <p *ngIf="resetPassword.get('newPassword')?.getError('required')">
          Password is Required
        </p>
        <p *ngIf="resetPassword.get('newPassword')?.getError('pattern')">
          Password is not valid
        </p>
      </div>
    </div>

    <button
      class="btn bg-main text-white d-block ms-auto"
      [disabled]="resetPassword.invalid"
    >
      <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading"> Login</span>
    </button>
  </form>
</div>
