<div class="container py-5">
  <div class="alert alert-danger" *ngIf="errorMsg">
    <p>{{ errorMsg }}</p>
  </div>
  <form
    [formGroup]="forgotPassword"
    (ngSubmit)="sendEmailToGetCode(forgotPassword)"
  >
    <div class="form-group mb-3">
      <label for="Email" class="pb-2">Email</label>
      <input
        id="Email"
        type="email"
        class="form-control"
        formControlName="email"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          forgotPassword.get('email')?.errors &&
          forgotPassword.get('email')?.touched
        "
      >
        <p *ngIf="forgotPassword.get('email')?.getError('required')">
          Email is Required
        </p>
        <p *ngIf="forgotPassword.get('email')?.getError('email')">
          Email is not valid
        </p>
      </div>
    </div>
    <button
      class="btn bg-main text-light"
      [disabled]="forgotPassword.invalid || loader"
    >
      <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>
      <span *ngIf="!loader">Verification Code</span>
    </button>
  </form>
</div>
