<form
  class="col-md-8 py-5 mx-auto"
  [formGroup]="registerForm"
  (ngSubmit)="register(registerForm)"
>
  <div class="alert alert-danger" *ngIf="registerError.length > 0">
    {{ registerError }}
  </div>
  <div class="alert alert-success" *ngIf="registerSuccess.length > 0">
    {{ registerSuccess }}
  </div>
  <h1 class="h3">Register Now:</h1>
  <div class="form-group mb-3">
    <label for="name" class="pb-2">Name</label>
    <input id="name" type="text" class="form-control" formControlName="name" />
    <div
      class="alert alert-danger"
      *ngIf="
        registerForm.get('name')?.errors && registerForm.get('name')?.touched
      "
    >
      <p *ngIf="registerForm.get('name')?.getError('required')">
        Name is Required
      </p>
      <p *ngIf="registerForm.get('name')?.getError('minlength')">
        Minimum Length is 3 characters
      </p>
      <p *ngIf="registerForm.get('name')?.getError('maxlength')">
        Maximum Length is 20 characters
      </p>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="Email" class="pb-2">Email</label>
    <input
      id="Email"
      type="email"
      class="form-control"
      formControlName="email"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        registerForm.get('email')?.errors && registerForm.get('email')?.touched
      "
    >
      <p *ngIf="registerForm.get('email')?.getError('required')">
        Email is Required
      </p>
      <p *ngIf="registerForm.get('email')?.getError('email')">
        Email is not valid
      </p>
    </div>
  </div>
  <div class="form-group mb-3 position-relative">
    <label for="Password" class="pb-2">Password</label>
    <input
      id="Password"
      [type]="showPassword ? 'text' : 'password'"
      class="form-control"
      formControlName="password"
    />
    <i
      class="fa-solid fa-eye position-absolute eye-icon"
      *ngIf="!showPassword"
      (click)="displayEyeIcon('password')"
    ></i>
    <i
      class="fa-solid fa-eye-slash position-absolute eye-icon"
      *ngIf="showPassword"
      (click)="displayEyeIcon('password')"
    ></i>

    <div
      class="alert alert-danger"
      *ngIf="
        registerForm.get('password')?.errors &&
        registerForm.get('password')?.touched
      "
    >
      <p *ngIf="registerForm.get('password')?.getError('required')">
        Password is Required
      </p>
      <p *ngIf="registerForm.get('password')?.getError('pattern')">
        Password is not valid
      </p>
    </div>
  </div>
  <div class="form-group mb-3 position-relative">
    <label for="rePassword" class="pb-2">rePassword</label>
    <input
      id="rePassword"
      [type]="showRePassword ? 'text' : 'password'"
      class="form-control"
      formControlName="rePassword"
    />
    <i
      class="fa-solid fa-eye position-absolute eye-icon"
      *ngIf="!showRePassword"
      (click)="displayEyeIcon('rePassword')"
    ></i>
    <i
      class="fa-solid fa-eye-slash position-absolute eye-icon"
      *ngIf="showRePassword"
      (click)="displayEyeIcon('rePassword')"
    ></i>
    <div
      class="alert alert-danger"
      *ngIf="
        registerForm.get('rePassword')?.errors &&
        registerForm.get('rePassword')?.touched
      "
    >
      <p *ngIf="registerForm.get('rePassword')?.getError('required')">
        rePassword is Required
      </p>
      <p *ngIf="registerForm.get('rePassword')?.getError('pattern')">
        rePassword is not valid
      </p>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="Phone" class="pb-2">Phone</label>
    <input id="Phone" type="tel" class="form-control" formControlName="phone" />
    <div
      class="alert alert-danger"
      *ngIf="
        registerForm.get('phone')?.errors && registerForm.get('phone')?.touched
      "
    >
      <p *ngIf="registerForm.get('phone')?.getError('required')">
        Phone is Required
      </p>
      <p *ngIf="registerForm.get('phone')?.getError('pattern')">
        phone is not valid
      </p>
    </div>
  </div>
  <button
    class="btn bg-main text-white d-block ms-auto"
    [disabled]="registerForm.invalid"
    *ngIf="!isLoading"
  >
    Register
  </button>
  <button
    class="btn bg-main text-white d-block ms-auto"
    [disabled]="registerForm.invalid || isLoading"
    *ngIf="isLoading"
  >
    <i class="fa fa-spinner fa-spin"></i>
  </button>
</form>
